<p id="notice"><%= notice %></p>

<h1>User</h1>
  <h2>Upcoming events</h2>
  <div class="upcoming">
    <% @user.attended_events.each do |event| %>
      <%if(event.date>Date.today)%>
        <%= event.title %>
        <%= event.body %>
        <%= event.location %>
        <%= event.date %>
      <% end %>
    <% end %>
  </div>

  <h2>Past events</h2>
  <div class="old">
    <% @user.attended_events.each do |event| %>
      <%if(event.date<Date.today)%>
        <%= event.title %>
        <%= event.body %>
        <%= event.location %>
        <%= event.date %>
      <% end %>
    <% end %>
  </div>

