<p id="notice"><%= notice %></p>
<div class="user">


<h1><%= @user.username%></h1>
  <h2>Upcoming events</h2>
  <div class="upcoming">
    <% @user.attended_events.each do |event| %>
      <%if(event.date>Date.today)%>
        <a href="<%=event_path(event)%>" class="eventItemUser">
          <div>
            <%= event.title %>
            <br>
            <%= event.date %>
          </div>
        </a>
      <% end %>
    <% end %>
  </div>

  <h2>Past events</h2>
  <div class="old">
    <% @user.attended_events.each do |event| %>
      <%if(event.date<Date.today)%>
        <a href="<%=event_path(event)%>" class="eventItemUser">
          <div>
            <%= event.title %>
            <br>
            <%= event.date %>
          </div>
        </a>
      <% end %>
    <% end %>
  </div>

</div>