<p id="notice"><%= notice %></p>

<h1>Events</h1>

    <% @events.each do |event| %>
      <a href="<%=event_path(event)%>">
      <div>
        <%= event.title %>
        <%= event.body %>
        <%= event.date %>
      </div>
      </a>
    <% end %>
<br>
