
<div class="mainGrid">

  <h2 class="UpcomingEventsHeader center">Upcoming Events</h2>
  <h2 class="PastEventsHeader center">Past Events</h2>

  <div class="upEventItem">
    <% @events.upcoming.each do |event| %>
      <a href="<%=event_path(event)%>" class="eventItem">
      <div>
        <%= event.title %>
        <br>
        <%= event.date %>
      </div>
      </a>
    <% end %>
  </div>

  <div class="pastEventItem">
    <% @events.past.reverse.each do |event| %>
      <a href="<%=event_path(event)%>" class="eventItemP">
      <div>
        <%= event.title %>
        <br>
        <%= event.date %>
      </div>
      </a>
    <% end %>
  </div>
</div>
